.contact {
  padding: 8px 1rem;
}

.contactText {
  font-family: grenze;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 6px;
}

.contactText:hover {
  color: #005293;
}

.contactsLinks {
  text-decoration: none;
}