.contact {
  padding: 8px 1rem;
}

.contactText,
.contactTextHF {
  font-family: grenze;
  font-size: 1.6rem;
  color: #66add9;
  margin-bottom: 6px;
}

.contactTextHF:hover {
  text-decoration: underline;
}

.contactTextLink {
  font-family: grenze;
  font-size: 1.5rem;
  color: #fff;
}

.contactTextLink:hover {
  text-decoration: underline;
}

.contactsLinks {
  text-decoration: none;
}