.postBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postTitle {
  color: #005b99;
  font-family: 'grenze';
  font-size: 3rem;
}

.postAuthor {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 2rem;
}

.postDate {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 2rem;
}

.postContent {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 1.5rem;
  margin-top: 2rem;
}

.imageWrapper {
  display: block;
  width: 500px;
  height: auto;
}