.postBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postTitle {
  color: #005b99;
  font-family: 'grenze';
  font-size: 3rem;
}

.postAuthor {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 2rem;
  font-weight: normal;
}

.postDate {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 2rem;
  font-weight: normal;
}

.postContent {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 0 12px;
}

.postContent a {
  color: #ffffff;
}

.imageWrapper {
  display: block;
  width: 400px;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .imageWrapper {
    width: 800px;
    height: auto;
  }
  .postContent {
    padding: 0 4rem;
  }
}