@font-face {
  font-family: 'norse';
  src: url("/fonts/norse/Norse.ttf") format("truetype"),
       url("/fonts/norse/Norse.woff") format("woff"),
       url("/fonts/norse/Norse.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;  
}