.pageTitle {
  padding: 1rem 0 60px 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.photos {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem 4rem;
}

.havamalPhoto {
  width: 100%;
  height: auto;
  padding: 6px;
}

.havamalPhoto:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .photos {
    padding: 1rem 12px;
  }
}