.pageTitle {
  padding: 1rem 0 60px 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap:16px;
}

.havamalPhoto:hover {
  transform: scale(1.05);
}