.pageTitle {
  padding: 1rem 0 60px 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.havamalPhoto:hover {
  transform: scale(1.05);
}

.myMasonryGrid {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.myMasonryGridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.myMasonryGridColumn > div {
  margin-bottom: 1rem;
}