.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0;
}

.title {
  margin: 0 auto;
  line-height: 1.15;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 5rem);
  text-align: center;
  margin-top: 2rem;
}

.pageTitle {
  padding-top: 1rem;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 5rem);
  text-align: center;
}

#mainImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.havamalPhoto {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 12px 12px 18px #000000, -12px -12px 18px #000000;
}

.logo {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -350px;
  z-index: 1;
}

.havamalLogo {
  max-width: 800px;
  height: auto;
}

.VideoContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.links {
  margin-top: 10rem;
}

@media screen and (min-width: 1441px) {
  .havamalPhoto {
    width: 1200px;
    height: 675px;
  }
}

@media screen and (max-width: 1025px) {
  .havamalPhoto {
    height: 90%;
  }
  .logo {
    margin-top: -200px;
  }
  .havamalLogo {
    max-width: 600px;
  }
}

@media screen and (max-width: 820px) {
  .havamalPhoto {
    margin: 0 auto;
    width: 600px;
    height: auto;
    margin-top: 2rem;
  }
  .logo {
    margin-top: -125px;
  }
  .havamalLogo {
    max-width: 450px;
  }  
}

@media screen and (max-width: 500px) {
  .havamalPhoto {
    margin: 0 auto;
    width: 400px;
    height: auto;
    margin-top: 2rem;
  }
  .logo {
    margin-top: -100px;
  }
  .havamalLogo {
    max-width: 300px;
  }
}