.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 5rem);
  text-align: center;
  margin-top: 2rem;
}

.pageTitle {
  padding-top: 1rem;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 5rem);
  text-align: center;
}

#mainImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bandPhoto {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 12px 12px 18px #000000, -12px -12px 18px #000000;
}

.logo {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -400px;
  z-index: 1;
}

.VideoContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.links {
  margin-top: 10rem;
}

@media screen and (max-width: 1025px) {
  .logo {
    margin-top: -300px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-top: -350px;
  }    
}

@media screen and (max-width: 500px) {
  .logo {
    margin-top: -100px;
  }
}