.pageTitle {
  padding: 1rem 0 60px 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}
.albumTitle {
  font-family: 'Norse';
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 1rem;
  font-weight: normal;
  text-align: left;
}