.pageTitle {
  padding: 1rem 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.postTitle {
  color: #005b99;
  font-family: 'grenze';
  font-size: 2.5rem;
}

.postAuthor {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 1.52rem;
  font-weight: normal;
  margin-bottom: 12px;
}

.postGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 2rem;
  margin: 0 2rem;
}

.postLink {
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .postGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .postTitle {
    font-size: 2rem;
  }
  .postAuthor {
    font-size: 1.25rem;
  }
}