.pageTitle {
  padding: 1rem 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
}

.postTitle {
  color: #005b99;
  font-family: 'grenze';
  font-size: 2.5rem;
}

.postAuthor {
  color: #ffffff;
  font-family: 'grenze';
  font-size: 1.52rem;
}

.postGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 2rem;
}

.postLink {
  border: 2px solid #005b99;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}