.sectionHeader {
  font-family: "norse";
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: normal;
  color: #66add9;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sagaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: 0 auto;
  width: 80%;
}

.sagaText {
  font-family: grenze;
  color: #ffffff;
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .sagaContainer {
    width: 90%;
  }
}

.hail {
  padding: 1rem 0 60px 0;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: 3rem;
  text-align: center;
}