.container {
  background: #070707;
  min-height: 100vh;
}

.pageTitle {
  margin: 12px 0;
  line-height: 1.15;
  font-family: "norse", sans-serif;
  font-weight: normal;
  color: #66add9;
  font-size: clamp(3rem, 6vw, 5rem);
  text-align: center;
}
