.LinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LinkItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  margin: 4px;
  padding-left: 4px;
  margin-bottom: 1rem;
}

.LinkIcon {
  border-radius: 4px;
}

.BannerLink {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .linkContainer {
    margin: 0 auto;
  }
}