.top {
  position: relative;
}

.scrollIcon {
  position: fixed;
  bottom: 48px;
  right: 24px;
  z-index: 99;
  color: #66add9;
  height: 60px;
  width:48px;
}

.scrollIcon:hover {
  color: #fecb00;
  cursor: pointer;
}